h1
  | Welcome to Play-Angular Seed 
  small play-angular-require-seed
p
  | A web development application template to start developing your reactive Single Page Web Application.
  | The stack consists of 
  a(href='http://www.playframework.com') Playframework 2.4
  | ,
  a(href='http://www.webjars.org') WebJars
  | ,
  a(href='http://www.requirejs.org') RequireJS
  |  and
  a(href='http://www.angularjs.org') AngularJS
  | .
p
  | When you are done developing, run 
  code sbt dist
  |  on the console to get an optimized, production-ready app. To try out production mode, execute 
  code sbt start
  | .
p Enjoy!
hr
div(data-example='')
  | Attached to this div is a directive that prints to the console. Check out the JavaScript console.
