@()(implicit request: RequestHeader, flash: Flash)<!DOCTYPE html>
<html>
  <!--(ng-app="app")-->
  <head>
    <meta charset="utf8">
    <base href="/">
    <title data-ng-bind="pageTitle"></title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <!--stylesheets-->
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/assets/lib/angular-ui/angular-ui.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-material-design/css/roboto.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-material-design/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-material-design/css/ripples.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <script data-main="/assets/javascripts/main.js" src="/assets/lib/requirejs/require.min.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header data-ng-controller="HeaderCtrl" data-ng-cloak="" class="navbar navbar-fixed-top basics-nav">
      <div data-ng-switch="!!user" data-ng-cloak="" class="container"><a href="#/" class="navbar-brand">Scraper Input</a>
        <div data-ng-switch-when="true">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> {{user.name}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li><a href="" data-ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div data-ng-switch-when="false">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#/login">Login</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div data-ng-cloak="" class="container">
      <div id="my-actual-stuff">
        <!-- Flash alerts-->@List("success","info","warning","danger").map { alertType =>
        <div role="alert" ng-show="@flash.get(alertType).isDefined" class="alert alert-dismissible alert-@alertType">
          <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span></button>@flash.get(alertType)
        </div>}
        <h3>Examples:</h3>
        <ul>
          <li>http://baidu.com/</li>
          <li>http://taobao.com/</li>
          <li>http://qq.com/</li>
          <li>http://akka.io/</li>
        </ul>
        <form action="/urls" method="POST">
          <textarea rows="15" name="urls" placeholder="URLs here" class="form-control"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- Angular: Home-->
    </div>
    <!-- Footer-->
    <footer data-ng-controller="FooterCtrl"></footer>
  </body>
</html>