extends layout

block body
  header.navbar.navbar-inverse.navbar-fixed-top.basics-nav(data-ng-controller='HeaderCtrl', data-ng-cloak='')
    .container(data-ng-switch='!!user', data-ng-cloak='')
      a.navbar-brand(href='#/') Play-Angular Seed
      div(data-ng-switch-when='true')
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='', data-toggle='dropdown')
              span.glyphicon.glyphicon-user
              |  {{user.name}}
              b.caret
            ul.dropdown-menu
              li
                a(href='#/settings')
                  span.glyphicon.glyphicon-cog
                  |  Settings
              li
                a(href='', data-ng-click='logout()')
                  span.glyphicon.glyphicon-off
                  |  Logout
      div(data-ng-switch-when='false')
        ul.nav.navbar-nav.pull-right
          li
            a(href='#/login') Login
  // Main Content
  .container(data-ng-cloak='')
    div(data-ng-view='')
  footer(data-ng-controller='FooterCtrl')
